body{
	display:block;
	max-width:800px;
	margin: 20px auto 40px auto;
}

h1{
	text-align:center;
	text-shadow: #ddd 2px 2px;
	color: #2FAF2F;
	font-size: 50px;
}
.centered{
	text-align:center;
}

.glass{
	border-radius: 35px;
	color: #2FAF2F;
	height: 77px;
	left: 4px;
	overflow: hidden;
	position: absolute;
	top: 9px;
	width: 77px;
	z-index: -2;
}

.initial .glass{
	display:none;
}

.logo{
	text-align:center;
	padding: 20px;
}

.logo .fa-search{
	position:fixed;
	font-size:8em;
	top:4px;
	left: 800px;
}

.logo .fa-search:hover{
	cursor:none;
}
.logo .fa-search.initial{
	position:initial;
	font-size:5em;
}

.magnify{
	top: -60px;
	left: -50px;
	position: absolute;
}

.background{
	background-color:white;
	height: 140%;
	left: -20%;
	position:absolute;
	top: -20%;
	width: 140%;
	z-index: -2;
}

.hover-row{
	padding-left: 29px;
}
li.active{
	font-weight:bold;
}
.big-brace{
	
}